{
  "comments": false,
  "presets": [
    "stage-2",
    ["env", { "modules": false }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-flow-strip-types"
  ],
  "env": {
    "testing": {
      "plugins": ["istanbul"]
    }
  }
}
